<h1>New Message</h1>


<%= form_for @message  do |m| %>
    <%= m.label :recipient_id %>
    <%= m.text_field :recipient_id %>
    <%= m.label :subject %>
    <%= m.text_field :subject%>
    <%= m.label :body %>
    <%= m.text_field :body%>
    <%= m.submit %>

<% end %>