
<div class="row justify-content-center form-container">
   
    <%= form_for @user do |f| %>

        <div class="col-xs-12">
        <!-- code to display errors -->
            <% if @user.errors.present? %>
                <% @user.errors.messages.each do |key,value| %>
                <ul>
                    <li><strong><%= key %>:</strong><%= value.to_sentence %></li> <!-- to sentence to concatenate the errors -->
                </ul>
            <% end %> <!-- end do loop -->
            <% end %> <!-- end if -->
        </div>

        <div class="col-xs-12">
            <h1>REGISTER </h1>
        </div>    

        <div class="col-xs-12">
            <%= f.text_field :name, placeholder: "Enter your full name"%>
        </div>

        <div class="col-xs-12">
            <%= f.text_field :email, placeholder: "Email"%>
        </div>

        <div class="col-xs-12">
            <%= f.password_field :password, placeholder: "Password"%>
        </div>

        <div class="col-xs-12">
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password"%>
        </div>

        <div class="col-xs-12">
            <%= f.submit class:'form_submit' %>
        </div>
    <% end %> <!-- end form -->
</div> <!-- end row -->