<!DOCTYPE html>
<html>
  <head>
    <title>SmartChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class='navbar'>
      <% if current_user %>
          Welcome back <%= current_user.email %>. 
          <%= link_to 'Log Out',logout_path, method: 'delete' %>
      <% else %>
          <%= link_to 'Sign up', new_user_path %>
      <%= link_to 'Sign in', new_session_path %>
      <% end %>
</div>
      

    <% if flash.any? %>  <!-- to display flash messages -->
        <% flash.each do |key,value| %>
        <div>
          <%= value %>
        </div>
        <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
